<div class="text-center col-md-6 mx-auto">
		<h1 class="display-6 fs-2 mt-2" i18n>Change e-mail address</h1>
		<div class="mt-4">
			<form>
				<div class="form-control-group">
					<label for="email" class="form-label fw-bold" i18n>E-Mail address</label>
					<input type="email" class="form-control text-center" name="email" [(ngModel)]="form.email" required>
				</div>
				<button type="button" class="btn btn-primary border border-dark mt-3" (click)="sendChangeEmailForm()" i18n>Change e-mail</button>
			</form>
		<div *ngIf="error" class="mt-1 mb-1">
			<div *ngFor="let message of error.messages" class="text-danger">
				{{message}}
			</div>
		</div>
		<div *ngIf="success" class="text-success" i18n>E-mail address changed.</div>
		</div>
</div>