<div class="text-center col-md-6 mx-auto">
		<h1 class="display-6 fs-2 mt-2" i18n>Change password</h1>
		<div class="mt-4">
			<form (submit)="sendChangePasswordForm()">
				<div class="form-control-group">
					<label for="oldpassword" class="form-label fw-bold" i18n>Old password</label>
					<input type="password" class="form-control text-center" name="oldpassword" [(ngModel)]="form.oldPassword" required>
				</div>
				<div class="form-control-group">
					<label for="password" class="form-label fw-bold" i18n>New password</label>
					<input type="password" class="form-control text-center" name="newpassword" [(ngModel)]="form.newPassword" required>
				</div>
				<div class="form-control-group">
					<label for="confirmpassword" class="form-label fw-bold" i18n>Confirm password</label>
					<input type="password" class="form-control text-center" name="confirmpassword" [(ngModel)]="form.confirmPassword" required>
				</div>
				<button type="button" class="btn btn-primary border border-dark mt-3" i18n>Change password</button>
			</form>
		<div *ngIf="error" class="mt-1 mb-1">
			<div *ngFor="let message of error.messages" class="text-danger">
				{{message}}
			</div>
		</div>
		<div *ngIf="success" class="text-success mt-1" i18n>Password changed.</div>
		</div>
	</div>