<div class="d-flex align-items-center justify-content-center flex-column text-center col-10 col-md-8 col-lg-6 mx-auto" id="reset_password">
  <h1 class="display-6 fs-2 mt-2" i18n>Reset password</h1>
  <div *ngIf="passwordChanged">
    <h6 *ngIf="passwordChanged">Password has been changed, you can now log in.</h6>
    <a class="btn btn-primary mt-1" routerLink="/signin" i18n>Log in</a>
  </div>
  <div *ngIf="!passwordChanged">
    <form *ngIf="!passwordCodeSent" (submit)="sendPasswordResetForm()" class="mt-3" ngNativeValidate>
      <div class="form-group mx-auto">
        <label for="username" class="form-label fw-bold" i18n>E-mail address</label>
        <input type="text" name="email" class="form-control text-center" [(ngModel)]="passwordResetForm.email" required />
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary" i18n>
          <span *ngIf="requestWaiting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Send password reset request
        </button>
      </div>
    </form>
    <form *ngIf="passwordCodeSent" (submit)="sendPasswordResetConfirmForm()" class="mt-3" ngNativeValidate>
      <h6>A password reset code has been sent to given email address. Enter this code below and then new password to proceed.</h6>
      <div class="form-group mx-auto mt-1">
        <label for="resetCode" class="form-label fw-bold" i18n>Password reset code</label>
        <input type="number" name="resetCode" class="form-control text-center" [(ngModel)]="passwordResetConfirmForm.resetCode" minlength="6" min="000000" max="999999" required />
      </div>
      <div class="form-group mx-auto mt-1">
        <label for="username" class="form-label fw-bold" i18n>New password</label>
        <input type="password" name="newPassword" class="form-control text-center" [(ngModel)]="passwordResetConfirmForm.newPassword" required />
      </div>
      <div class="form-group mx-auto mt-1">
        <label for="username" class="form-label fw-bold" i18n>Confirm new password</label>
        <input type="password" name="confirmNewPassword" class="form-control text-center" [(ngModel)]="passwordResetConfirmForm.confirmPassword" required />
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary" i18n>Confirm password change</button>
      </div>
    </form>
    <div *ngIf="error" class="mt-1 mb-1 text-danger">
      {{error}}
    </div>
  </div>
</div>
